/* Загальні правила проєкту */
body {
    font-family: Roboto;
    color: #ffffff;
}

.dots-disappear {
    list-style-type: none;
}


/* Заголовок */
.logo {
    text-decoration: none;
    line-height: 1;
}

.title-header {
    font-family: Raleway;
    color: #2196F3;
    font-weight: 700;
}

.studio-color {
    font-family: Raleway;
    color: #000000;
    font-weight: 700;
}

.active-link {
    color: #212121;
    font-weight: 500;
    line-height: 1;
    text-decoration: none;
}

.active-link:hover,
.active-link:focus {
    color: #2196F3;
}

.email-tittle {
    color: #757575;
    font-weight: 500;
    line-height: 1;
    text-decoration: none;
}

.email-tittle:hover,
.email-tittle:focus {
    color: #2196F3;
}

.telefone-tittle {
    color: #757575;
    font-weight: 500;
    line-height: 1;
    text-decoration: none;
}

.telefone-tittle:hover,
.telefone-tittle:focus {
    color: #2196F3;
}


/* Основная часть индец */
.order-window {
    background-color: #2F303A;
}

.offer {
    font-weight: 900;
    line-height: 2;
}

.bt-order {
    color: #ffffff;
    background-color: #2196F3;
    font-weight: 700;
    line-height: 1;
}

.bt-order:hover {
    cursor: pointer;
}

.bt-order:focus {
    visibility: hidden;
} 

.tittle-explanation {
    color: #212121;
    font-size: 14px;
    font-weight: 700;
    line-height: 1;
}

.features {
    color: #757575;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
}

.section-tittle {
    color: #212121;
    font-size: 36px;
    font-weight: 700;
    line-height: 1;
}

.section-bg {
    background-color: #F5F4FA;
}

.developer-name {
    color: #212121;
    font-size: 16px;
    font-weight: 500;
    line-height: 1;
}

.position {
    color: #757575;
    font-size: 16px;
    font-weight: 400;
    line-height: 1;
}


/* Основная часть портфолио */
.bt-nav {
    color: #212121;
    font-size: 16px;
    font-weight: 500;
}

.bt-nav:hover,
.bt-nav:focus {
    color: #FFFFFF;
    background-color: #2196F3;
}

.picture {
    color: #212121;
    font-size: 18px;
    font-weight: 700;
    line-height: 1;
}

.activity {
    color: #757575;
    font-size: 16px;
    font-weight: 400;
    line-height: 1;
}


/* Футтер нашого сайту */
.address-bar {
    background-color: #2F303A;
}

.address-bottom {
    font-size: 14px;
    line-height: 24px;
    color: #ffffff60;
    text-decoration: none;
    line-height: 1;
}

.address-bottom:hover,
.address-bottom:focus {
    color: #FFFFFF;
} 

.email-bottom {
    font-size: 14px;
    line-height: 24px;
    color: #ffffff60;
    text-decoration: none;
    line-height: 1;
}

.email-bottom:hover,
.email-bottom:focus {
    color: #FFFFFF;
}

.telefone-bottom {
    font-size: 14px;
    line-height: 24px;
    color: #ffffff60;
    text-decoration: none;
    line-height: 1;
}

.telefone-bottom:hover,
.telefone-bottom:focus {
    color: #FFFFFF;
}