/* Загальні правила проєкту */
.project-plan {
    font-family: Roboto;
    color: #ffffff;
}
li {
    list-style-type: none;
}



/* Заголовок */
.title-header {
    font-family: Raleway;
    color: #2196F3;
    font-weight: 700;
}
.studio-color {
    font-family: Raleway;
    color: #000000;
    font-weight: 700;
}
.active-link {
    color: #212121;
    font-weight: 500;
}
.active-link:hover {
    cursor: pointer;
}
.active-link:focus {
    color: #2196F3;
}
.email-tittle {
    color: #757575;
    font-weight: 500;
}
.email-tittle:hover {
    cursor: pointer;
}
.email-tittle:focus {
    color: #2196F3;
}
.telefone-tittle {
    color: #757575;
    font-weight: 500;
}
.telefone-tittle:hover {
    cursor: pointer;
}
.telefone-tittle:focus {
    color: #2196F3;
}



/* Основная часть индец */
.order-window {
    background-color: #2F303A;
}
h1 {
    font-weight: 900;
}
.button {
    color: #ffffff;
    background-color: #2196F3;
    font-weight: 700;
}
.button:hover {
    cursor: pointer;
}
h4 {
    color: #212121;
    font-size: 14px;
    font-weight: 700;
}
.features {
    color: #757575;
    font-size: 14px;
    font-weight: 400;
}
h2 {
    color: #212121;
    font-size: 36px;
    font-weight: 700;
}
.developer-name {
    color: #212121;
    font-size: 16px;
    font-weight: 500;
}
.position {
    color: #757575;
    font-size: 16px;
    font-weight: 400;
}

/* Основная часть портфолио */
.picture {
    color: #212121;
    font-size: 18px;
    font-weight: 700;
}
.activity {
    color: #757575;
    font-size: 16px;
    font-weight: 400;
}



/* Футтер нашого сайту */
.address-bar {
    background-color: #2F303A;
}
.address-bottom {
    font-style: normal;
    font-size: 14px;
    line-height: 24px;
    color: #ffffff60;
}
.address-bottom:hover {
    cursor: pointer;
}
.address-bottom:focus {
    color: #ffffff;
}
.email-bottom {
    font-style: normal;
    font-size: 14px;
    line-height: 24px;
    color: #ffffff60;
}
.email-bottom:hover {
    cursor: pointer;
}
.email-bottom:focus {
    color: #ffffff;
}
.telefone-bottom {
    font-style: normal;
    font-size: 14px;
    line-height: 24px;
    color: #ffffff60;
}
.telefone-bottom:hover {
    cursor: pointer;
}
.telefone-bottom:focus {
    color: #ffffff;
}