/* Загальні правила проєкту */
body {
    font-family: Roboto;
    color: #ffffff;
}

/* Заголовок */
.site-top-logo {
    text-decoration: none;
    line-height: 1;
}

.site-top-name {
    font-family: Raleway;
    color: #2196F3;
    font-weight: 700;
}

.site-top-color {
    font-family: Raleway;
    color: #000000;
    font-weight: 700;
}

.site-top-dots {
    list-style-type: none;
}

.site-top-link {
    color: #212121;
    font-weight: 500;
    line-height: 1;
    text-decoration: none;
}

.site-top-link:hover,
.site-top-link:focus {
    color: #2196F3;
}

.site-top-email {
    color: #757575;
    font-weight: 500;
    line-height: 1;
    text-decoration: none;
}

.site-top-email:hover,
.site-top-email:focus {
    color: #2196F3;
}

.site-top-tel {
    color: #757575;
    font-weight: 500;
    line-height: 1;
    text-decoration: none;
}

.site-top-tel:hover,
.site-top-tel:focus {
    color: #2196F3;
}


/* Основная часть индец */
.order {
    background-color: #2F303A;
}

.order-text {
    font-weight: 900;
    line-height: 2;
}

.order-bt {
    color: #ffffff;
    background-color: #2196F3;
    font-weight: 700;
    line-height: 1;
}

.order-bt:hover {
    cursor: pointer;
}

.order-bt:focus {
    visibility: hidden;
} 

.spacials-tittle {
    color: #212121;
    font-size: 14px;
    font-weight: 700;
    line-height: 1;
}

.spacials-text {
    color: #757575;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
}

.presentation-tittle {
    color: #212121;
    font-size: 36px;
    font-weight: 700;
    line-height: 1;
}

.presentation-dots {
    list-style-type: none;
}

.team {
    background-color: #F5F4FA;
}

.team-tittle {
    color: #212121;
    font-size: 36px;
    font-weight: 700;
    line-height: 1;

}

.team-dots {
    list-style-type: none;
}

.team-name {
    color: #212121;
    font-size: 16px;
    font-weight: 500;
    line-height: 1;
}

.team-job {
    color: #757575;
    font-size: 16px;
    font-weight: 400;
    line-height: 1;
}


/* Основная часть портфолио */
.portfolio {
    background-color: #F5F5F5;
}

.portfolio-bt {
    color: #212121;
    font-size: 16px;
    font-weight: 500;
}

.portfolio-bt:hover,
.portfolio-bt:focus {
    color: #FFFFFF;
    background-color: #2196F3;
}

.portfolio-picture {
    color: #212121;
    font-size: 18px;
    font-weight: 700;
    line-height: 1;
}

.portfolio-text {
    color: #757575;
    font-size: 16px;
    font-weight: 400;
    line-height: 1;
}


/* Футтер нашого сайту */
.footr {
    background-color: #2F303A;
}

.footr-logo {
    text-decoration: none;
    line-height: 1;
}

.footr-name {
    font-family: Raleway;
    color: #2196F3;
    font-weight: 700;
}

.footr-color {
    font-family: Raleway;
    color: #000000;
    font-weight: 700;
}

.footr-dots {
    list-style-type: none;
}

.footr-address {
    font-size: 14px;
    line-height: 24px;
    color: #ffffff60;
    text-decoration: none;
    line-height: 1;
}

.footr-address:hover,
.footr-address:focus {
    color: #FFFFFF;
} 

.footr-email {
    font-size: 14px;
    line-height: 24px;
    color: #ffffff60;
    text-decoration: none;
    line-height: 1;
}

.footr-email:hover,
.footr-email:focus {
    color: #FFFFFF;
}

.footr-telefone {
    font-size: 14px;
    line-height: 24px;
    color: #ffffff60;
    text-decoration: none;
    line-height: 1;
}

.footr-telefone:hover,
.footr-telefone:focus {
    color: #FFFFFF;
}